<div class="row">
    {% for file in agent.fichiersAgents %}
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
          <div class="tile-stats text-dark">
          <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
          <br>
          <strong>{{file.nomFichier}} </strong> <a href="#"><i class="fas fa-eye text-info" title="Visualiser document"></i></a> 
          </div>
        </div>
    {% endfor %}
</div>