        <footer>
          <div class="pull-right">
            Ministère du Commerce de la Consommation et des PME <img src="{{asset('assets/images/logo.png')}}" width="20" alt=""> Designed By Alou 
          </div>
          <div class="clearfix"></div>
        </footer>