
                <ul class="nav side-menu">
                    <li>
                        <a  href="{{ path('app_user_dashboard') }}"><i class="fa fa-dashboard"></i>Accueil</a>
                    </li>

                    <li>
                        <a  href="#"><i class="fa fa-users"></i>Personnel</a>
                    </li>

                    <li>
                        <a  href="{{ path('app_user_myparc') }}"><i class="fa fa-network-wired"></i>Mon Parc</a>
                    </li>

                    <li>
                        <a  href="{{ path('app_user_files') }}"><i class="fa fa-file"></i>Mes Fichiers</a>
                    </li>

                    <li>
                        <a  href="#"><i class="fa fa-folder-open-o"></i>Démarches Administratives</a>
                    </li>
                    <li>
                        <a  href="#"><i class="fa fa-info-circle"></i>Information</a>
                    </li>

                    <li>
                        <a  href="#"><i class="fa fa-envelope-o"></i>Messagerie <span class="badge bg-green">{# { messages|length }#}</span></a>
                    </li>
                </ul>