{% extends 'base.html.twig' %}

{% block title %}Edit FichiersAgent{% endblock %}

{% block body %}
    <h1>Edit FichiersAgent</h1>

    {{ include('admin/fichiers_agent/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_fichiers_agent_index') }}">back to list</a>

    {{ include('admin/fichiers_agent/_delete_form.html.twig') }}
{% endblock %}
