
<div class="row">
    <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 ">
      <div class="tile-stats text-dark">
      <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
      <br>
      <small>{{fichiers_agent.nomFichier}}</small>
      </div>
    </div>
</div>