{% extends 'base.html.twig' %}

{% block title %}Mon Parc | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                {% for fichiersAgent in fichiersAgents %}
                                    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                                        <div class="tile-stats text-dark">
                                            <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
                                            <br>
                                            <strong>{{fichiersAgent.nomFichier}} </strong> <a href="#"><i class="fas fa-eye text-info" title="Visualiser document"></i></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
