<ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ordinateurs Portables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="statut-tab" data-toggle="tab" href="#statut" role="tab" aria-controls="statut" aria-selected="false">Ordinateurs Fixes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Imprimantes & Photocopieuses</a>
    </li>
</ul>